@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
     @apply px-3
}
.bg-primary{
   background-color: cadetblue; 
}
.bg-secondary{
    background-color: rgb(53, 94, 95);
}
.font-header{
    font-size: larger;
}
.mobile-nav{
  @apply fixed top-10 left-0 bg-gray-800 w-full h-1/4 ;
  
}
.mobile-nav  li{
    @apply w-full text-center border-b-2 h-full
}
